# Rust
/target

# CMake (for tools)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Jetbrains
/.idea

# OS
.DS_Store

# Project
/assets
/wgpu_trace
*.json
optimal_poly_decomp